.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

.pagination {
  display: inline;
  text-align: center;
}

.pagination a {
  border: 1px solid #243a1d;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.currentPage a {
  background-color: #bbd2da;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #55595e;
}